@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
* {
    box-sizing:  border-box;
}
body {
    background: url(images/background1.jpg);
    background-size: 2000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
}
.key {
    background-color: rgba(0, 0, 0, 0.082);
    
    font-size: 20px;
    display: inline-flex;
    padding: 30px;
    margin: 10px;
    font-weight: bold;
    flex-direction: column;
    min-width: 200px;
    position: relative;
    border-radius: 10%;
    color: white;
    letter-spacing: 1px;
    backdrop-filter: blur(7px); 
    
}

.key small {
    position: absolute;
    bottom: -25px;
    left: 0;
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255);
   
    font-size: 20px;
    text-transform: uppercase;
    backdrop-filter: blur(4px);
    font-weight: bold;
}
